<h2>
	Build <a href="{{.baseURI}}build/{{ .Branch.Build.ID }}">{{ .Branch.Build.URI }}</a> &raquo;
	{{ .Branch.Name }}
</h2>
<a href="#" class="build-branch" data-id="{{ .Branch.ID }}" title="Build branch">
	<span class="glyphicon glyphicon-chevron-right"></span></a><br />

{{$baseURI := .baseURI}}
{{ if .Artifacts }}
Artifacts:
{{ end }}
<ul>
	{{ range $i, $artifact := .Artifacts }}
		<li><a href="{{$baseURI}}artifact/{{$artifact.ID}}">{{$artifact.FilePath}}</a></li>
	{{ end }}
</ul>

{{ range $i, $item := .Branch.Jobs }}
	<div class="col-sm-12 build build-{{ $item.Status }}">
		<div class="col-sm-8">
			<span class="glyphicon glyphicon-{{ $item.Status }}"></span>
			<a href="{{$baseURI}}job/{{ $item.ID }}">Commit {{ $item.Reference }}</a> - {{ $item.CommitMessage }}<br />
			<small>{{ $item.Message }}</small>
		</div>
		<div class="col-sm-4">
			{{ $item.StatusTime }}<br />
			{{ $item.Duration }}
			{{ if $item.Tag }}
				<div class="badge-default badge">{{ $item.Tag }}</div>
			{{ end }}
		</div>
	</div>
{{ end }}
