<h2>Build {{ .Build.URI }}</h2>

{{$baseURI := .baseURI}}
{{ range $i, $item := .Build.Branches }}
	<div class="col-sm-12 build build-{{ $item.Status }} enabled-{{ $item.Enabled }}">
		<div class="col-sm-8">
			<span class="glyphicon glyphicon-{{ $item.Status }} glyphicon-enabled-{{ $item.Enabled }}"></span>
			<a href="{{$baseURI}}branch/{{ $item.ID }}">{{ $item.Name }}</a><br />
			Commit {{ $item.LastReference }}
		</div>
		<div class="col-sm-4">
			{{ timeago $item.StatusTime }}<br />
			{{ if $item.Enabled }}
				<a href="#" class="build-branch" data-id="{{ $item.ID }}" title="Build branch">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			{{ end }}
		</div>
	</div>
{{ end }}
