<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>CI - Registration</title>
  <link rel="stylesheet" type="text/css" href="{{.baseURI}}public/bootstrap/css/bootstrap.min.css">

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Register for a new account</h2>

      <form method="post">
        {{ if .msg }}
          <div class="alert alert-info">{{ .msg }}</div>
        {{ end }}

        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" name="Username" class="form-control" placeholder="Username" value="{{ .user.Username }}">
        </div>
        <div class="form-group">
          <label for="PasswordPlain">Password</label>
          <input type="password" name="PasswordPlain" class="form-control" placeholder="Password" value="{{ .user.PasswordPlain }}">
        </div>
        <input type="submit" value="Login" class="btn btn-default" /><br />
        <a href="{{.baseURI}}login">Login to your account</a>
      </form>
    </div>
  </div>
</div>

</body>

</html>
